.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 1s;
    opacity: 1;
}
.clickableUnderlay {
    position: absolute;
    height: 100%;
    width: 100%;
}

.bringToFore {
    position: absolute;
    z-index: 160;
}

